@model BanqueProjet.Application.Dtos.IdentificationProjetDto
<div class="card mb-3">
    <div class="card-header">Informations Générales</div>
    <div class="card-body">
        <p><strong>Nom :</strong> @Model.NomProjet</p>
        <p><strong>Objectif :</strong> @Model.Programme</p>
        <!-- autres champs... -->
    </div>
</div>
